html {
  font-size: 12pt;
}

body {
  color: black;
}

hr {
  background-color: #edededff;
  margin: auto;
  width: 90vw;
}

.max-width-content {
  max-width: 70vw; 
  margin: 0 auto;
}

.max-width-results {
  max-width: min(600px, 80vw);
}

.layered-video {
  position: absolute;
  z-index: 2;
  transform: translate(-50%,0%);
  left: 50%;
}

video {
  cursor: pointer;
}

.btn-teaser {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.btn-teaser:hover {
  background-color: transparent !important;
  text-decoration: underline;
}

.select-row span{
  display: inline-block;
  padding: 5px;
}

select {
  text-decoration: underline;
  border: none;
  padding: 0;
  margin: 0;
  background-image: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:hover {
  cursor: pointer;
}

select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.legend {
  margin-bottom:10px; 
  max-width: min(60vw, 300px);
}

.task-examples {
  max-height: 75vh;
  overflow-x: auto;
  overflow-y: auto;
}

.task-examples img {
  width: 50px;
}

.row-content {
  display: none;
}

.carousel-control-prev {
  position: absolute;
  left: -50px;
}

.carousel-control-next {
  position: absolute;
  right: -50px;
}

.carousel-item .carousel-card {
  max-width: 550px;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.carousel-description {
  margin-top: 20px;
}